*{
    box-sizing: border-box;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
li{list-style:none}
a,a:hover{text-decoration:none;color:#ffe400;}

html,body{ height: 100%;font-size: 62.5%;}
@media only screen and (max-device-width: 320px) {
    html { font-size: 50%; }
}

body{line-height:1.5;font-family:'h5',"hiragino sans gb",Arial;color:#fff;-webkit-tap-highlight-color:rgba(0,0,0,0)} 
.wrap{position:relative;color:#fff; height: 100%; overflow: hidden;}
.hide {display: none;}
/*页面加载提示*/
.mod_loading{position:absolute;height:100%;left:0;top:0;width:100%;z-index:100;background-color:#b9ccd5;display:-webkit-box;-webkit-box-align:center;}
.mod_loading .content{ text-align:center;-webkit-box-flex:1;margin:0 80px;}
.mod_loading .content .progress{height:13px;padding:2px;-webkit-border-radius:17px;border-radius:17px;background-color:#242a39;}
.mod_loading .content .progress span{display:block;height:13px;-webkit-border-radius:13px;border-radius:13px;background-color:#65cfd5;}
.mod_loading .content p{line-height:34px;color:#5f696a;}
/*滑块*/
.slider {position: absolute;width: 36px;height: 36px;margin-left: -18px;left: 50%;bottom: 10px;z-index: 9999;}
.slider span {position: absolute;width: 24px;height: 35px;left: 50%;top: 50%;margin: -17px 0 0 -12px;background-position: -158px -46px;-webkit-animation: slide_up 2s infinite ease-out;}
.item, .item .box {width: 100%;height: 100%;overflow: hidden;}

@-webkit-keyframes slide_up {
    0%,30%{opacity: 0;-webkit-transform: translate3d(0,10px,0);}
    60% {opacity: 1;-webkit-transform: translate3d(0,0,0);}
    100% {opacity: 0;-webkit-transform: translate3d(0,-8px,0);}
}

.item-1 {background-image: url(img/1.jpg);background-repeat:no-repeat;background-size: cover;}
.item-2 {background-image: url(img/2.jpg);background-repeat:no-repeat;background-size: cover;}
.item-3 {background-image: url(img/3.jpg);background-repeat:no-repeat;background-size: cover;}
.item-4 {background-image: url(img/4.jpg);background-repeat:no-repeat;background-size: cover;}
.item-5 {background-image: url(img/5.jpg);background-repeat:no-repeat;background-size: cover;}
.item-6 {background-image: url(img/6.jpg);background-repeat:no-repeat;background-size: cover;}
.item-7 {background-image: url(img/7.jpg);background-repeat:no-repeat;background-size: cover;}
.item-8 {background-image: url(img/8.jpg);background-repeat:no-repeat;background-size: cover;}
.item-9 {background-image: url(img/9.jpg);background-repeat:no-repeat;background-size: cover;}
.item-10 {background-image: url(img/10.jpg);background-repeat:no-repeat;background-size: cover;}



/*common*/
.mod_container {position: absolute;left: 50%;top: 50%;margin-top: -36px;-webkit-transform: translate3d(-50%, -50%, 0);-webkit-backface-visibility:hidden;z-index: 2;}
.sprite_global {background-image: url(img/sprite_global.png);background-repeat: no-repeat;}
.item .sprite {background-repeat: no-repeat;-webkit-transform: translate3d(0, 200px, 0);opacity: 0;}
.item .text_2 {margin: 10px 20px 20px;}
.item .scene {margin: 10px auto;}
.item.play .sprite {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
.item.play .text_1 {-webkit-transition: all 1s ease-out;}
.item.play .text_2 {-webkit-transition: all 1s .3s ease-out;}
.item.play .scene {-webkit-transition: all 1s .6s ease-out;}

.btn_play, .btn_pause {position: absolute;right: 10px;top: 10px;width: 34px;height: 34px;z-index: 100;}
.btn_play {background-position: -107px -51px; }
.btn_pause {background-position: -60px -51px; }
.btn_play i, .btn_pause i {position: absolute;left: 50%;top: 50%;width: 14px;height: 30px;margin: -22px 0 0 -7px;background-position: -4px 0; }
.btn_play i {-webkit-animation: play_sate 4s infinite;}

/* item-1 */

.item-1 .logo {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.item-1 .logo img {
    width: 100%;
    height: 100%;
}

.item-1 .text {
    width: 90%;
    margin: 20px auto;
    font-size: 1.6rem;
    color: black;
    background-color:rgba(255,255,255,0.5);;
    padding: 10px;
    box-shadow: 0px 0px 3px -1px #242a39;
}

.item-1 .form {
    width: 100%;
}

.item-1 .form .form-group {
    width: 80%;
    margin: 8px auto;
}

.form-group .label {
    width: 80px;
    font-size: 1.8rem;
}

.form-group input {
    width: 70%;
    padding: 4px;
}

.form .feedback {
    width: 140px;
    margin: 10px auto;
    display: block;
    background-color: #eee;
    border: 0px;
}


.item-1.play .logo {-webkit-animation: micro_fade_down .2s 0.4s ease-out both;}
.item-1.play .text {-webkit-animation: micro_fade_down .4s 0.6s ease-out both;}
.item-1.play .form {-webkit-animation: micro_fade_down .6s 0.8s ease-out both;}

/* item-2 */
.item-2 .top-text {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin:30px auto;
}

.item-2 .left-text {
    width: 80%;
    margin-top: -10px;
    margin-left: 6%;
    color: black;
    background-color:rgba(255,255,255,0.3);;
    padding: 10px;
    box-shadow: 0px 0px 3px -1px #242a39;
    z-index: 9;
    font-size: 1.6rem;
    line-height: 2.8rem;
    border: 6px;
}

.item-2 .right-text {
    width: 80%;
    margin-top: -10px;
    margin-left: 14%;
    color: black;
    background-color:rgba(255,255,255,0.3);;
    padding: 10px;
    box-shadow: 0px 0px 3px -1px #242a39;
    z-index: 10;
    text-align: right;
    font-size: 1.6rem;
    line-height: 2.8rem;
    border: 6px;
}

.item-2.play .top-text {-webkit-animation: micro_fade_down .2s 0.4s ease-out both;}
.item-2.play .left-text {-webkit-animation: micro_fade_down .4s 0.6s ease-out both;}
.item-2.play .right-text {-webkit-animation: micro_fade_down .6s 0.8s ease-out both;}

/* item-3 */
.item-3 .top-text {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin:50px auto;

}

.item-3 .bottom-text {
    width: 84%;
    text-align: center;
    color: white;
    font-size: 2.0rem;
    line-height: 3.2rem;
    position: absolute;
    bottom: 20%;
    left: 8%;
    background-color:rgba(255,255,255,0.3);;
    padding: 10px;
    box-shadow: 3px 3px 6px 0px #242a39;
}

.item-3.play .top-text {-webkit-animation: micro_fade_down .2s 0.4s ease-out both;}
.item-3.play .bottom-text {-webkit-animation: micro_fade_down .4s 0.6s ease-out both;}

/* item-4 */
.item-4 .top-text {
    width: 88%;
    color: black;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin:50px auto;
    background-color:rgba(255,255,255,0.3);;
    padding: 10px;
    box-shadow: 0px 0px 3px -1px #242a39;
    font-family:'xiaodiandian';
}

.item-4.play .top-text {-webkit-animation: micro_fade_down .2s 0.4s ease-out both;}


/* item-5 */
.item-5 .top-text {
    width: 90%;
    text-align: left;
    color: black;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin:20px auto 0px auto;
}

.item-5 .second-text {
    width: 74%;
    text-align: left;
    color: black;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin:15px auto 15px 5%;
    background-color:rgba(255,255,255,0.3);
    padding: 10px 8px;
}

.item-5 .third-text {
    width: 74%;
    text-align: left;
    color: black;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin:15px auto 15px 21%;
    background-color:rgba(255,255,255,0.3);
    padding: 10px 8px;
}

.item-5 .fourth-text {
    width: 90%;
    text-align: left;
    color: black;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin:15px 5% 15px 5%;
    background-color:rgba(255,255,255,0.6);
    padding: 10px 8px;
}
.item-5.play .top-text {-webkit-animation: micro_fade_down .2s 0.4s ease-out both;}
.item-5.play .second-text {-webkit-animation: micro_fade_down .4s 0.6s ease-out both;}
.item-5.play .third-text {-webkit-animation: micro_fade_down .64s 0.8s ease-out both;}
.item-5.play .fourth-text {-webkit-animation: micro_fade_down 0.8s 1.0s ease-out both;}


/* item-6 */
.item-6 .top-text {
    width: 90%;
    text-align: left;
    color: black;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin:20px auto 0px auto;
}

.item-6 .second-text {
    width: 90%;
    text-align: left;
    color: white;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin:20px auto 0px auto;
    background-color:rgba(41, 31, 31, 0.6);
    padding-left: 4px;
}

.item-6 .third-text {
    width: 90%;
    text-align: left;
    color: white;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin:20px auto 0px auto;
    background-color:rgba(41, 31, 31, 0.6);
    padding-left: 4px;
}

.item-6 .fourth-text {
    width: 90%;
    text-align: left;
    color: white;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin:20px auto 0px auto;
    background-color:rgba(41, 31, 31, 0.6);
    padding-left: 4px;
}


.item-6 .fifth-text {
    width: 90%;
    text-align: left;
    color: black;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin:20px auto 0px auto;
    padding: 10px 8px;
    background-color:rgba(255,255,255,0.6);
}

.item-6.play .top-text {-webkit-animation: micro_fade_down  0.2s .4s ease-out both;}
.item-6.play .second-text {-webkit-animation: micro_fade_down  .4s 0.6s ease-out both;} 
.item-6.play .third-text {-webkit-animation: micro_fade_down  .6s 0.8s ease-out both;} 
.item-6.play .fourth-text {-webkit-animation: micro_fade_down  .8s 1.0s ease-out both;} 
.item-6.play .fifth-text {-webkit-animation: micro_fade_down  1.0s 1.2s ease-out both;} 

/* item-7 */
.item-7 .top-text {
    width: 90%;
    text-align: left;
    color: black;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin:30px auto 0px auto;
}

.item-7 .second-text {
    width: 90%;
    text-align: right;
    font-size: 2.2rem;
    font-weight: 700;
    color: black;
    margin-top: 30px;
}

.item-7 .third-text {
    width: 96%;
    text-align: left;
    color: white;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin:10px auto 0px auto;
    padding: 10px 8px;
    background-color:rgba(41, 31, 31, 0.6);
}

.item-7 .fourth-text {
    width: 96%;
    text-align: left;
    color: white;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin:30px auto 0px auto;
    padding: 10px 8px;
    background-color:rgba(41, 31, 31, 0.6);
}

.item-7.play .top-text {-webkit-animation: micro_fade_down  0.2s .4s ease-out both;}
.item-7.play .second-text {-webkit-animation: micro_fade_down  .4s 0.6s ease-out both;} 
.item-7.play .third-text {-webkit-animation: micro_fade_down  .6s 0.8s ease-out both;} 
.item-7.play .fourth-text {-webkit-animation: micro_fade_down  .8s 1.0s ease-out both;} 


/* item-8 */
.item-8 .top-text {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin:0px auto 0px auto;
    background-color: rgb(95, 137, 149);
    padding: 10px 8px;
}

.item-8 .second-text {
    width: 90%;
    text-align: right;
    font-size: 2.2rem;
    font-weight: 700;
    color: black;
    margin-top: 30px;
}

.item-8 .third-text {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.6rem;
    line-height: 2.4rem;
    position: absolute;
    bottom: 0px;
    padding: 10px 8px;
    background-color: rgba(95, 137, 149,0.6);
}
.item-8.play .top-text {-webkit-animation: micro_fade_down  0.2s .4s ease-out both;}
.item-8.play .second-text {-webkit-animation: micro_fade_down  .4s 0.6s ease-out both;} 
.item-8.play .third-text {-webkit-animation: micro_fade_down  .6s 0.8s ease-out both;} 


/*item 9*/
.item-9 .top-text {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 2.0rem;
    line-height: 2.4rem;
    font-weight: 700;
    margin-top: 30rem;
}

.item-9 .second-text {
    width: 90%;
    text-align: left;
    font-size: 1.6rem;
    color: black;
    margin: 20px auto;
}

.item-9 .second-text .one-line {
    border-bottom: 1px dashed #000;
}

.item-9.play .top-text {-webkit-animation: micro_fade_down  0.2s .4s ease-out both;}
.item-9.play .second-text {-webkit-animation: micro_fade_down  .4s 0.6s ease-out both;} 


/* iphone 5 */
@media screen and (max-height: 569px) {
    .item-9 .top-text {
        margin-top: 250px;
    }
}

/* galaxy s5 */
@media screen and (min-height:570px ) and (max-height: 641px) {
    .item-9 .top-text {
        margin-top: 270px;
    }
}

/* iphone 6/7/8 */
@media screen and (min-height:641px ) and (max-height: 668px) {
    .item-9 .top-text {
        margin-top: 290px;
    }
}

/* pixel 2 */
@media screen and (min-height:668px ) and (max-height: 732px) {
    .item-9 .top-text {
        margin-top: 320px;
    }
}

/* iphone 6/7/8 plus */
@media screen and (min-height:732px ) and (max-height: 750px) {
    .item-9 .top-text {
        margin-top: 330px;
    }
}

/* pixel 2 XL, iphone X */
@media screen and (min-height:750px ) and (max-height: 824px) {
    .item-9 .top-text {
        margin-top: 360px;
    }
}


/* item-10 */
.item-10 .top-text {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin:30px auto 0px auto;
    padding: 10px 8px;
}

.item-10 .second-text {
    width: 70%;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    margin: 30px auto;
    background-color:rgba(54, 87, 111, 0.6);
}

.item-10 .third-text {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: 10px 8px;
    background-color:rgba(54, 87, 111, 0.7);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.item-10.play .top-text {-webkit-animation: micro_fade_down  0.2s .4s ease-out both;}
.item-10.play .second-text {-webkit-animation: micro_fade_down  .4s 0.6s ease-out both;} 
.item-10.play .third-text {-webkit-animation: micro_fade_down  .6s 0.8s ease-out both;} 


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, only screen and (min-resolution: 240dpi) {
    .sprite_global {background-image: url(img/sprite_global@2x.png);background-size: 355px;}
}



@-webkit-keyframes play_sate {
    0%{-webkit-transform: perspective(400px) rotateY(0);}
    100% {-webkit-transform: perspective(400px) rotateY(360deg);}
}

@-webkit-keyframes micro_fade_down {
    0%{opacity:0;-webkit-transform:translate3d(0,-30px,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);}
}
